.custom-navbar {
  background: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
  padding: 12px 0;
}

.logo-box {
  background: #e60000;
  padding: 10px 18px;
  font-size: 22px;
  border-radius: 4px;
  text-decoration: none;
}
.logo{
  
  width: 180px;
  height: 60px;
  object-fit: contain;


}
.nav-link {
  color: #000 !important;
  font-weight: 600;
  margin: 0 8px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #e60000 !important;
}

.dropdown-menu {
  border: none;
  border-top: 3px solid #e60000;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.3s ease;
}

.dropdown-item {
  padding: 10px 20px;
}

.dropdown-item:hover {
  background: #e60000;
  color: white;
}

.search-btn {
  background: #e60000;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  transition: 0.3s;
}

.search-btn:hover {
  transform: scale(1.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Show dropdown on hover (desktop) */
@media (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}